canvas {
  width: 100vh;
  height: 100vh;
  image-rendering: optimizespeed;
}

.download-btn {
  margin: 10px;
}

.toolbar {
  height: 60px;
  background: #1b1e23;
}

.sidebar {
  width: 100%;
  height: 100%;
  background: #1b1e23;
}
