

<div #canvasWrapper>
  <div class="toolbar">
    <button mat-raised-button (click)="downloadFile()" *ngIf="imageUrl" color="primary" class="download-btn">Download</button>
    <div id="download">
      <img #canvasImg>
      <a #downloadLink></a>
    </div>
  </div>
  <mat-grid-list cols="9" rowHeight="100vh">
    <mat-grid-tile [colspan]="7">
      <canvas #canvas></canvas>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div class="sidebar">

      </div>
    </mat-grid-tile>
  </mat-grid-list>

<div class="example-box" cdkDrag>
  Drag me around
</div>

</div>
